body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.glyphicon{
    font-size:40px;
}
.divHeader{
    height:70px;
    margin-right:10%;
   background-color:lightblue;
 
}
.divShopingCart {
    height: 40px;
    width:50px;
   position :inherit;
    right:0px;
    background-color: orange;
    
  
    /*margin-right:0;
    margin-top :0;*/
}
