@model IEnumerable<MovieShopApp3.Models.Categories>

<div class="col-lg divCategories">
    <div class="navbar">
        <div class="container">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                        <li>
                            @Html.ActionLink(item.CategoryName, "showByCategory", new { id = item.CategoryID })

                        </li>
                    }

                </ul>

            </div>
        </div>
    </div>
</div>
@*@Ajax.ActionLink(item.CategoryName, "showByCategory", new { id = item.CategoryID }, new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "ajaxTable",
        InsertionMode = InsertionMode.Replace

    })*@