@model MovieShopApp3.Models.Products
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   

    <div class="form-horizontal">

        <hr />

        <div class="form-group">

            <div class="col-md-12">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control"} })

            </div>
        </div>

    </div>
}
